{% extends "instacore_app/layout.html" %}
{% block content %}
<h3>Details: </h3>
<li>{{ webserver.ip_address }}</li><br>
<li>{{ webserver.selectos }}</li><br>
<li>{{ webserver.user }}</li><br>
<li>{{ webserver.rootpassword }}</li><br>
<li>{{ webserver.port }}</li><br>
<li>{{ webserver.webserver }}</li><br>
<li>{{ webserver.phpversion }}</li><br>
<li>{{ webserver.phpmod }}</li><br>
<li>{{ webserver.ftpserver }}</li><br>
<li>{{ webserver.sqlserver }}</li><br>
<li>{{ webserver.documentroot }}</li><br>
<li>{{ webserver.sitecount }}</li><br>
<li>{{ webserver.sitename }}</li><br>
<li>{{ webserver.ftpuser }}</li><br>
<li>{{ webserver.ftppassword }}</li><br>
<li>{{ webserver.databasename }}</li><br>
<li>{{ webserver.sqlusername }}</li><br>
<li>{{ webserver.dbuserpassword }}</li><br>
<li>{{ webserver.sqlrootpassword }}</li><br>

<div class="row">
    <div class="col-lg-8">
      <form class="form-horizontal" action="{% url 'instacore_app:submit' webserver.pk %}" method="GET">
        {% csrf_token %}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" name="install" value="install" class="btn btn-success">Re-run</button>
          </div>
        </div>
      </form>

      <form class="form-horizontal" action="{% url 'instacore_app:download' webserver.pk %}" method="GET">
        {% csrf_token %}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" name="download" value="download" class="btn btn-primary">Generate and Download</button>
          </div>
        </div>
      </form>
    </div>
</div>
{% endblock %}
