{% extends "instacore_app/layout.html" %}
{% block content %}
<style>
  .progress {
   width:50%;
   background:#ddd;
  }
  .bar {
   height:30px;
   width:0%;
   background:#4CAF50;
   text-align:right;
  }
 </style>
<body>

<p>
  Installation Status: <span id="user-count"></span>!
</p>

<div class="status"></div>
   {% if task_id %}
   <div class="progress">
    <div class="bar"></div>
   </div>
   {% endif %}
   <input id="returnBtn" type=button value="Back" class="btn btn-primary" style="visibility:hidden; margin-top:10px;"onClick="javascript:history.go(-1);">
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
   var poll_xhr;
   var willstop = 0;
  (function(){
    var poll = function(){
      var json_dump = "{{ data }}";
      var task_id = "{{task_id}}";

      console.log(task_id);
      poll_xhr = $.ajax({
        url:'/run_state/',
        type: 'POST',
        data: {
            task_id: task_id,
            csrfmiddlewaretoken: "{{csrf_token}}",
        },
        success: function(task) {
                      if (task.state == "SYNTAX_FAIL") {
                        willstop = 1;
                        document.getElementById("user-count").textContent=task.message;
                        jQuery('.bar').css({'width': 25 + '%'});
                        jQuery('.bar').html(25 + '%');
                        document.getElementById('returnBtn').style.visibility = 'visible';

                       } else if (task.state == "PING_FAIL") {
                           willstop = 1;
                           document.getElementById("user-count").textContent=task.message;
                           jQuery('.bar').css({'width': 50 + '%'});
                           jQuery('.bar').html(50 + '%');
                           document.getElementById('returnBtn').style.visibility = 'visible';

                      } else if (task.state == "EXECUTION_FAIL") {
                          willstop = 1;
                          document.getElementById("user-count").textContent=task.message;
                          jQuery('.bar').css({'width': 75 + '%'});
                          jQuery('.bar').html(75 + '%');
                          document.getElementById('returnBtn').style.visibility = 'visible';

                      } else if (task.state == "SUCCESS") {
                          willstop = 1;
                          document.getElementById("user-count").textContent=task.message;
                          jQuery('.bar').css({'width': 100 + '%'});
                          jQuery('.bar').html(100 + '%');
                          document.getElementById('returnBtn').style.visibility = 'visible';

                      } else {
                         jQuery('.status').html(task);
                         document.getElementById("user-count").textContent="PROCRESSING";
                       };
                    }
                });
              };

    var refreshIntervalId = setInterval(function() {
      poll();
      if(willstop == 1){
        clearInterval(refreshIntervalId);
      }
    },500);
  })();
</script>
</body>
{% endblock %}
